{% extends base_layout %}

{% block title %}
        {% trans %}Subscribe{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Subscribe{% endtrans %}
{% endblock %}

{% block subnavbar %}
     <div class="subnav">
          <!-- Subnav removed in subscribe.html -->
     </div>
{% endblock %}


{% block content %}

    <h1>Digital Posters Subscriptions</h1>
    <table>
    <tr valign="top">
      <td>
      <ul>
        <li>
        <img src="/boilerplate/img/golden_gate.jpg"/>
        <button class="buy-button" type="button" onClick="document.getElementById('hss_iframe').style.visibility='visible';">Deluxe Subscription</button></li>
      </ul>
      </td>
    </tr>
    </table>

<iframe id="hss_iframe" name="hss_iframe" width="570px" height="540px" scrolling="no" style="visibility:hidden"></iframe>
<form style="display:none" target="hss_iframe" name="form_iframe" method="post" action="{{ mode_url }}">>
<input type="hidden" name="cmd" value="_hosted-payment">
<input type name="paymentaction" value="sale">
<input type="submit" name="METHOD" value="Pay Now">
<input type="hidden" name="template" value="templateD">
<input type="hidden" name="business" value="{{ business }}">

<input type name="subtotal" value="{{ subtotal }}">
<input type="custom" name="{{ user_id }}"/>
<!-- <input type="first_name" name="FIRST"/> -->
<!-- <input type="last_name"  name="LAST"/> -->
<input type="hidden" name="notify_url" value="{{ notify_url }}"/>
<input type name="return" value="{{ return }}">
<input type="hidden" name="cancel_return" value="{{ cancel_return }}"/>
</form>
   
{% endblock %}


{% block mediaCSS %}
<link href="/boilerplate/css/subscribe.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block mediaJS %}


<script type="text/javascript">
	document.form_iframe.submit();
</script>

{% endblock %}

