{% extends base_layout %}

{% block title %}
        {% trans %}Subscribe{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Subscribe{% endtrans %}
{% endblock %}

{% block subnavbar %}
     <div class="subnav">
          <!-- Subnav removed in subscribe.html -->
     </div>
{% endblock %}


{% block content %}

    <h1>Subscription Buttons</h1>

<!-- 
https://github.com/paypal/JavaScriptButtons
YOUR_MERCHANT_ID
Your merchant ID needs to be added to the URL of the referenced script. This ID can either be your Secure Merchant ID, which can be found by logging into your PayPal account and visiting your profile, or your email address.

    data-button="subscribe"
    data-button="buynow"
    data-env= sandbox (defaults to 'www')
-->
<script src="/boilerplate/js/libs/paypal-button.min.js?merchant={{ merchant_id }}"
    data-button="subscribe"
    data-recurrence="1"
    data-period="M"
    data-amount="{{ subtotal }}"
    data-name="{{ custom }}"
    data-custom="{{ custom }}"
    data-callback="{{ notify_url }}"
    data-env="{{ environment }}"

></script>

   
{% endblock %}


{% block mediaCSS %}
<link href="/boilerplate/css/subscribe.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block mediaJS %}


{% endblock %}

